html,body
{
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    height: 100% !important;
    max-height: 100% !important;
}
.container-fluid
{
    min-height: 100% !important;
    height: 100%;
    margin: 0px !important;
}
.date
{
    font-weight: 900;
    color: whitesmoke;
    font-family: Impact, Charcoal, sans-serif;
}
.well, .row
{
    min-height: 100% !important;
    height: 100%;
}
.well
{
    padding: 1px !important;
    margin: 0px !important;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	position: relative;
    padding: 0px !important;
    margin: 0px !important;
    min-height: 100% !important;
    height: 100%;
}
hr {
    height: 4px  !important;
    margin: 0px !important;
  }
  .hr-warning{
    background-image: -webkit-linear-gradient(left, rgba(210,105,30,.8), rgba(210,105,30,.6), rgba(0,0,0,0))  !important;
  }
  .hr-success{
    background-image: -webkit-linear-gradient(left, rgba(15,157,88,.8), rgba(15, 157, 88,.6), rgba(0,0,0,0))  !important;
  }
  .hr-primary{
    background-image: -webkit-linear-gradient(left, rgba(66,133,244,.8), rgba(66, 133, 244,.6), rgba(0,0,0,0))  !important;
  }
  .hr-danger{
    background-image: -webkit-linear-gradient(left, rgba(244,67,54,.8), rgba(244,67,54,.6), rgba(0,0,0,0))  !important;
  }


  .vbottom{
	position: absolute;
    bottom: 0;
    display: inline-block;
  vertical-align: bottom;
  float: none;
  width: 94%;
}

.alert-info {
background-color: #6D214F  !important;
}