#svg-container{
position: relative;
}
svg{
transform: rotateX(55deg) rotateZ(-26deg) translateX(80px);
position: absolute;
}

#lvl1 polygon{
fill: rgb(1, 173, 210) !important
}
#lvl2 polygon{
fill: rgb(232, 111, 24) !important
}
#lvl3 polygon{
fill: rgb(218, 23, 56) !important
}

#controls{
  position: absolute;
  top: 100px;
  right: 5px;
  width: 30px;
  height: 30px;
}
#controls > div{
  cursor: pointer;
  text-align: center;
  padding: 5px;
  border: black solid 1px;
}

#modal{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 66.666%;
  background-color: #1c0c37;
  color: white;
}

#modal.closed{
  height: 0px;
}

#modal.opened{
  animation-name: modal-open;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes modal-open {
  from {
    height: 0px;
  }
  to {
    height: 50%;
  }
}

#modal.closed{
  animation-name: modal-closed;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes modal-closed {
  from {
    height: 50%;
  }
  to {
    height: 0px;
  }
}