#svg-container{
position: relative;
}
svg{
transform: rotateX(55deg) rotateZ(-26deg) translateX(45px);
position: absolute;
stroke-width: 3px;
}

#lvl1 polygon{
fill: rgb(1, 173, 210) !important
}
#lvl2 polygon{
fill: rgb(232, 111, 24) !important
}
#lvl3 polygon{
fill: rgb(218, 23, 56) !important
}

#controls{
  position: absolute;
  top: 100px;
  right: 5px;
  width: 30px;
  height: 30px;
}
#controls > div{
  cursor: pointer;
  text-align: center;
  padding: 5px;
  border: black solid 1px;
}

#modal{
  overflow-y: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 66.66666667%;
  background: linear-gradient(to bottom,#efeef3 0,#cfccd9 100%);
  color: black;
  text-align: center;
}
#modal > table{
  width: 100%;
  height: 100%;
  border-collapse: separate;
  border-spacing: 10px 0px;
}

#modal tr:first-child{
  color: #4b6584;
  font-weight: bold;
  border-bottom: solid #4b6584 5px;
}

#modal > table td:first-child{
  width: 140px;
}
#modal > table td{
  width: calc((100% - 140px) / 5);
}

#modal.closed{
  height: 0px;
}

#modal.opened{
  animation-name: modal-open;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes modal-open {
  from {
    height: 0px;
  }
  to {
    height: 60%;
  }
}

#modal.closed{
  animation-name: modal-closed;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@keyframes modal-closed {
  from {
    height: 60%;
  }
  to {
    height: 0px;
  }
}

#controls > div:not([id=startauto-control]).disabled{
  background-color: grey;
}

#startauto-control.running{
  background-color: teal;
}