#svg-container{
position: relative;
}
svg{
transform: rotateX(55deg) rotateZ(-26deg);
position: absolute;
}

#lvl1 polygon{
fill: rgb(1, 173, 210) !important
}
#lvl2 polygon{
fill: rgb(232, 111, 24) !important
}
#lvl3 polygon{
fill: rgb(218, 23, 56) !important
}

svg:hover{
  stroke: red;
  stroke-width: 3px;
}